.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 170px;
}

.nav-menu {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 90px;
    font-size: 20px;
    margin-left: auto;
}

.nav-connect {
    padding: 20px 40px;
    border-radius: 50px;
    background: linear-gradient(267deg, #DA7C25 0.36%, #B923E1 102.06%);
    margin-left: auto;
    font-size: 22px;
    cursor: pointer;
}

.nav-connect:hover {
    transform: scale(1.05);
}

.nav-mob-opens {
    display: none;
}

.nav-mob-close {
    display: none;
}

@media (max-width: 760px) {
    .navbar {
        margin: 20px 50px;
        justify-content: space-between;
    }

    .nav-menu {
        position: fixed;
        flex-direction: column;
        align-items: start;
        top: 0;
        gap: 30px;
        
        width: 350px;
        height: 100%;
        z-index: 2;
        transition: right 0.5s;
        right: -350px;
    }

    .nav-menu.open {
        right: 0;
    }

    .nav-menu li {
        font-size: 30px;
        padding-left: 100px;
        flex-direction: row;
        gap: 20px;
    }

    .nav-connect {
        display: none;
    }

    .nav-mob-opens {
        display: block;
        position: fixed;
        right: 30px;
        top: 20px;
        font-size: 30px;
        cursor: pointer;
    }

    .nav-mob-close {
        display: block;
        position: absolute;
        top: 20px;
        right: 30px;
        width: 30px;
        cursor: pointer;
    }
}